{% extends 'base/base.html' %}

{% block content %}
    <h1>Запрос на улучшение {{ feature.id }}</h1>
    <p>Название: {{ feature.title }}</p>
    <p>Описание: {{ feature.description }}</p>

    <p><a href="{% url 'quality_control:update_feature' feature.id %}">Изменить запрос на улучшение</a></p>
    <p><a href="{% url 'quality_control:delete_feature' feature.id %}"onclick="return confirm('Вы уверены, что хотите удалить этот запрос?');">Удалить запрос</a></p>

    <h2>Информация о запросе</h2>
    <p>Приоритет: {{ feature.priority }}</p>
    <p>Статус: {{ feature.status }}</p>
    <p>Дата создания: {{ feature.created_at }}</p>
    <p>Дата последнего редактирования: {{ feature.updated_at }}</p>
{% endblock %}